extends layout

block content
  .page-header
    h1 FizzBuzz&nbsp;
      small= title
        
  
  script(src='/javascripts/libs/ace/ace.js')

  script(src='/javascripts/editor.js')
  script(src='/javascripts/toolbar.js')
  script(src='/javascripts/generic_box.js')
  script(src='/javascripts/codding_box.js')


  .col-xs-6
    #one.box
      include ./includes/editor_one.jade
    #two.box
      include ./includes/editor_two.jade
  .col-xs-6
    #four.box
      include ./includes/tests.jade
  
